.agenda {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 170px;
    .aumentarDiv{
        overflow: hidden;
        
    }
}
.divDestaque {
    opacity: 50%;
    transform: scale(1.1);
}