.bannerColorido {
    width: 100%;
    overflow: hidden;
    div{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        place-items: center;
        img{
            width: 100%;
        }
    }
}