.bannerEspaco {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    margin-top: 200px;
    @media screen and (max-width: 400px){
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 100px; 
    }
    div {
        @media screen and (max-width: 400px){
            margin: -10px; 
            width: 100%;
            a{
                width: 100%;
            }
        }
    }
}