body { 
    background-image: url(/imagens/BG/bg.png);
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    // background-repeat: no-repeat;
    // background-position: initial;
    // background-position-x: center ;
    // object-fit: cover;
    @media screen and (max-width: 400px){
        background-size: cover;
        background-position: center center;
        object-fit: cover;
    }
}



// .bgDegrade{
    
//     background: rgb(102,53,103);
//     background: linear-gradient(164deg, rgba(102,53,103,1) 0%, rgba(0,0,0,1) 100%);
//     overflow: hidden;
//     @media screen and (max-width: 400px){
        
//     }
// }

// .bgHeaderLineUp{
//     background-image: url(/imagens/BG/bgPrincipal.svg);
//     background-size: cover;
//     background-attachment: fixed;
//     position: relative;
//     margin-bottom: -150px;
//     @media screen and (max-width: 400px){
//         background-repeat: no-repeat;
//         background-attachment: fixed;
//         overflow: hidden;
//     }
// }


// .bgDoMeio{
//     height: 200px;
//     background: rgb(102,53,103);
//     background: linear-gradient(0deg, rgb(103, 53, 104) 1%, rgb(204, 46, 52) 94%);     
// }



.menu {
    display: flex;
    justify-content: space-between;
    padding: 40px 120px 40px 120px;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    @media screen and (max-width: 400px){
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 32px 0 0 24px;
        grid-gap: 160px
    }
    .logoBuondi {
        a{
            img{
                @media screen and (max-width: 400px){
                    width: 150%;
                }
            }
        }
    }
    .menuPrincipal{
        display: flex;
        align-items: stretch;
        overflow: hidden;
        @media screen and (max-width: 400px){
            display: none;
            overflow: hidden;
        }
        ul{
            display: flex;
            align-items: center;
            height: 50px;
            gap: 40px;
            margin-left: 20px;
            overflow: hidden;
            a{
                text-decoration: none;
                img {
                    width: 44.57px;
                    height: 44.57px;
                }
                li{
                    font-family: "Poppins", sans-serif;
                    font-weight:600;
                    font-size: 17px;
                    letter-spacing: 02px;
                    color: white;
                    list-style: none;
                    
                }
            }
        }
        span {
            color: white;
            width: 25.68px;
            height: 25.68px;
            vertical-align: middle;
        }
    }
    .menuHamburguer{
        a{
            display: flex;
            justify-content: right;
            margin-right: 20px;
        }
        @media screen and (max-width: 400px){
            display: block; 
            overflow: hidden;
            width: 150px;
        }
        @media screen and (min-width: 401px){
            display: none; 
        }
        .menuDisplayNone {
            display: none;
            width: 375px;
            height: 697px;
            overflow: hidden;
            .pt{
                margin-top: 20px;
                display: flex;
                justify-content: flex-end;
            }
        }
    }

}

.listaDisplayNone{
    overflow: hidden;
    font-size: 15px;
    color: white;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    margin: 0 40px 40px -100px ;
    text-align: right;
    a{
        text-decoration: none;
        
        ul{
            display: flex;
            flex-wrap: wrap;
            text-decoration: none;
            color: white;
            margin-bottom: 20px;
        }

    }

}