.lineUp{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    
    @media screen and (max-width: 400px){
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        overflow: hidden;
    }
    .tituloLineUp{
        height: 100%;
        h4{
            font-size: 42px;
            font-family: "Poppins", sans-serif;
            line-height: 50%;
            color: #ffffff; 
            padding: 40px; 
            @media screen and (max-width: 400px){
                font-size: 42px;

            }
        }
    }
    .agendaLineUp{
        display: flex;
        gap: 26px;
        text-align: center;

        @media screen and (max-width: 400px){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            
            .todosMenor {
                display: none;
            }
            .todosMaior{
                display: block;
            }

        }
    }
    .listaDosArtistas {
        height: 100%;
        width: 100%;

        @media screen and (max-width: 400px){
           max-width: 100%;
           display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

        }
        .artistas{
            display: grid;
            place-items: center;
            font-family: "Poppins", sans-serif;
            color: #ffffff;
            padding: 150px 0 15px 0;

            @media screen and (max-width: 400px){
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

            }

            h4{
                font-size: 48px;
                padding-bottom: 30px;
            }
            h2{
                font-size: 87px;
                font-weight: 800;
                @media screen and (max-width: 400px){
                    font-size: 43px;
                }
            }
            small {
                font-size: 67px;
            }

        }
        .artistasGrande{
            display: grid;
            place-items: center;
            color: white;
            font-family: "Poppins", sans-serif;
            margin-top: 150px;
            h4{
                font-size: 48px;
                padding-bottom: 30px;
                @media screen and (max-width: 400px){
                    font-size: 32px;
                }
            }
            h2{
                font-size: 87px;
                font-weight: 800;
                @media screen and (max-width: 400px){
                    font-size: 43px;
                }
            }
            small {
                font-size: 67px;
                @media screen and (max-width: 400px){
                    font-size: 40px;
                }
            }

        }
    }
}

.dia10{
    display: none;
}

.mostrarDia10{
    display: flex;
}


.todosMaior {
    display: none;
}