.lineUp{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-bottom: 120px;
    @media screen and (max-width: 400px){
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .tituloLineUp{
        height: 100%;
        h4{
            font-size: 42px;
            font-family: "Poppins", sans-serif;
            line-height: 50%;
            color: #ffffff; 
            padding: 40px; 
            @media screen and (max-width: 400px){
                font-size: 24px;

            }
        }
    }
    .agendaLineUp{
        display: flex;
        gap: 26px;
        text-align: center;
        @media screen and (max-width: 400px){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }
        a{
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            font-size: 60px;
            color: #ffffff;
            line-height: 50%;
            font-weight:400;
            border-radius: 26px;
            border:1px solid #ffffff; 
            width: 108px;
            height: 111px;
            display: grid;
            place-items: center;
            
            p{
                font-size: 30px;
                margin: auto;
            }
            h6{
                font-size: 24px;
            }
        }
        .todos {
            font-size: 26px;
        }
    }
    .listaDosArtistas {
        height: 100%;
        width: 100%;
        @media screen and (max-width: 400px){
           max-width: 100%;

        }
        .artistas{
            display: grid;
            place-items: center;
            font-family: "Poppins", sans-serif;
            color: #ffffff;
            padding: 150px 0 15px 0;
            h4{
                font-size: 48px;
                padding-bottom: 30px;
            }
            h2{
                font-size: 87px;
                font-weight: 800;
                @media screen and (max-width: 400px){
                    font-size: 43px;
                }
            }
            small {
                font-size: 67px;
            }
        }
    }
}

.dia10{
    display: none;
}

.mostrarDia10{
    display: flex;
}
