.valores {
    margin: 0 0 0 150px;
    overflow: hidden;
    h3{
        font-size: 54px;
        font-family: "Poppins", sans-serif;
        color: rgb(255, 255, 255);
    }
    .h3Bold{
        font-weight: 600;
    }
    p{
        margin: 44px 0 75px 0 ;
        font-family: "Poppins", sans-serif;
        color: rgb(241, 241, 241);
        font-size: 15px;
        line-height: 20px;
        max-width: 600px;
    }
    div{
        margin-left: -20px;
    }
}