/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  padding: 0;
}

body {
  background-color: rgba(201, 201, 201, 0.616);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 120px 40px 120px;
  max-width: 100%;
  height: 100px;
}

.menu .menuPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
}

.menu .menuPrincipal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  gap: 40px;
  margin-left: 20px;
}

.menu .menuPrincipal ul a {
  text-decoration: none;
}

.menu .menuPrincipal ul a img {
  width: 44.57px;
  height: 44.57px;
}

.menu .menuPrincipal ul a li {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 02px;
  color: white;
  list-style: none;
}

.menu .menuPrincipal span {
  color: white;
  width: 25.68px;
  height: 25.68px;
  vertical-align: middle;
}

.bannerPrincipal .tituloEsociais {
  max-width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95% 3%;
      grid-template-columns: 95% 3%;
  place-items: center;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  .bannerPrincipal .tituloEsociais {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    place-items: center;
    max-width: 100%;
    padding-left: 150px;
  }
}

.bannerPrincipal .tituloEsociais .vertical {
  margin: 80px 310px 0px 160px;
  max-width: 100%;
}

@media screen and (max-width: 400px) {
  .bannerPrincipal .tituloEsociais .vertical {
    max-width: 100%;
  }
}

.bannerPrincipal .tituloEsociais .vertical span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.bannerPrincipal .tituloEsociais .vertical span img {
  vertical-align: middle;
  padding-bottom: 10px;
}

.bannerPrincipal .tituloEsociais .vertical span h1 {
  font-size: 87px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  line-height: 139px;
  color: #ffffff;
}

@media screen and (max-width: 400px) {
  .bannerPrincipal .tituloEsociais .vertical span h1 {
    font-size: 20px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

.bannerPrincipal .tituloEsociais .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  .bannerPrincipal .tituloEsociais .horizontal {
    display: none;
  }
}

.bannerPrincipal .tituloEsociais .horizontal .sociaisHero a img {
  padding-bottom: 20px;
}

.bannerPrincipal .tituloEsociais .followUs .rotate {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 15px;
  line-height: 20px;
  height: 50px;
}

.botao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botao .botaoBilhete {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 228px;
  height: 47px;
  border-radius: 41px;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  line-height: 15px;
  border: 2px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 70px;
}

.botaoScroll {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 100px;
}

.lineUp {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-bottom: 120px;
}

@media screen and (max-width: 400px) {
  .lineUp {
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    place-items: center;
  }
}

.lineUp .tituloLineUp {
  height: 100%;
}

.lineUp .tituloLineUp h4 {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  line-height: 50%;
  color: #ffffff;
  padding: 40px;
}

@media screen and (max-width: 400px) {
  .lineUp .tituloLineUp h4 {
    font-size: 24px;
  }
}

.lineUp .agendaLineUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .lineUp .agendaLineUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.lineUp .agendaLineUp a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  color: #ffffff;
  line-height: 50%;
  font-weight: 400;
  border-radius: 26px;
  border: 1px solid #ffffff;
  width: 108px;
  height: 111px;
}

.lineUp .agendaLineUp a p {
  font-size: 30px;
}

.lineUp .agendaLineUp .todos {
  font-size: 26px;
}

.lineUp .listaDosArtistas {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .lineUp .listaDosArtistas {
    max-width: 100%;
  }
}

.lineUp .listaDosArtistas .artistas {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  padding: 150px 0 15px 0;
}

.lineUp .listaDosArtistas .artistas h4 {
  font-size: 48px;
  padding-bottom: 30px;
}

.lineUp .listaDosArtistas .artistas h2 {
  font-size: 87px;
  font-weight: 800;
}

@media screen and (max-width: 400px) {
  .lineUp .listaDosArtistas .artistas h2 {
    font-size: 43px;
  }
}

.lineUp .listaDosArtistas .artistas small {
  font-size: 67px;
}

.calendario {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-bottom: 250px;
}

.calendario span:nth-child(even) {
  margin-top: 100px;
}

.calendario .bannerDatas {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendario .bannerDatas span a img {
  margin: 0;
}

.agenda {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  margin-bottom: 170px;
}

@media screen and (max-width: 400px) {
  .agenda {
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  .agenda img {
    width: 120%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    place-items: center;
    overflow: hidden;
  }
}

.agenda .aumentarDiv {
  margin: 0;
}

.bannerEspaco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  .bannerEspaco {
    width: 100%;
    display: -ms-grid;
    display: grid;
    gap: 40px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.bannerEspaco div {
  background-color: rgba(128, 128, 128, 0.507);
  height: 200px;
  padding: 40px;
}

.bannerEspaco div h6 {
  color: white;
  font-size: 37px;
  font-family: "Poppins", sans-serif;
}

.bannerEspaco div h3 {
  color: white;
  font-size: 54px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 400px) {
  .bannerEspaco div h3 {
    margin-bottom: 20px;
  }
}

.bannerEspaco div small {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

article {
  overflow: hidden;
}

article div h3 {
  font-size: 54px;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 80px;
  margin-left: 160px;
}

article .artGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 25% 30%;
      grid-template-columns: 35% 25% 30%;
  padding: 80px;
  margin-left: 80px;
}

article .artGrid .quadrado1 {
  background-color: #505050;
  height: 346px;
  width: 475px;
}

article .artGrid .quadrado2 {
  background-color: #a8a7a7;
}

article .artGrid .quadrado3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

article .artGrid .quadrado3 .imagem {
  width: 190px;
  height: 173px;
  background-color: black;
}

article .artGrid .quadrado3 .txt {
  background-color: green;
  width: 190px;
  height: 173px;
}

article .dirEsq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-left: 160px;
  margin-bottom: 80px;
}

.newsletter {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #A1A1A1;
  height: 350px;
  padding-bottom: 40px;
}

@media screen and (max-width: 400px) {
  .newsletter {
    max-width: 100%;
  }
}

.newsletter div h6 {
  font-size: 37px;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-top: 44px;
}

@media screen and (max-width: 400px) {
  .newsletter div h6 {
    margin-left: 20px;
    font-size: 24px;
  }
}

.newsletter form {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.newsletter form div .paraEmail {
  width: 540px;
  height: 47px;
  border-radius: 41px;
  border-style: none;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 400px) {
  .newsletter form div .paraEmail {
    width: 320px;
  }
}

.newsletter form .inputCondicoes {
  padding: 20px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter form .inputCondicoes label {
  font-size: 16px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  padding: 8px;
}

.newsletter form div .botaoEnviar {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 160px;
  height: 47px;
  border-radius: 41px;
  border-style: none;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-decoration: none;
  margin: auto;
}

.newsletter form div .botaoEnviar:hover {
  background-color: rgba(0, 0, 0, 0.267);
}

footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  max-width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

footer .footerGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: left;
  max-width: 100%;
  grid-gap: 64px;
  padding: 60px;
  margin: auto;
}

@media screen and (max-width: 400px) {
  footer .footerGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

footer .footerGrid .redesSociais {
  margin-right: 120px;
}

@media screen and (max-width: 400px) {
  footer .footerGrid .redesSociais {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footerGrid .endereco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}

@media screen and (max-width: 400px) {
  footer .footerGrid .endereco {
    margin-left: 0;
  }
}

footer .footerGrid .endereco img {
  margin-right: 30px;
}

footer .footerGrid .endereco p {
  font-size: 22.76px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  line-height: 24.5px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #a1a1a1;
}

@media screen and (max-width: 400px) {
  footer .footerGrid .politicas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer .footerGrid .politicas ul a {
  text-decoration: none;
}

footer .footerGrid .politicas ul a li {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 44px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #a1a1a1;
}

footer .footerGrid .menuFooter {
  margin-left: 170px;
}

@media screen and (max-width: 400px) {
  footer .footerGrid .menuFooter {
    margin-left: 0;
  }
}

footer .footerGrid .menuFooter ul a {
  text-decoration: none;
}

footer .footerGrid .menuFooter ul a li {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #a1a1a1;
}

footer .imgFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.informacoesFestival {
  margin-left: 180px;
  padding-bottom: 100px;
}

.informacoesFestival .tituloSobreFestival {
  font-size: 54px;
  color: #8d8d8d;
  line-height: 139.5px;
  font-family: "Poppins", sans-serif;
}

.informacoesFestival .gridInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.informacoesFestival .gridInfo .onde {
  max-width: 250px;
}

.informacoesFestival .gridInfo .onde img {
  margin-bottom: 20px;
}

.informacoesFestival .gridInfo .onde h6 {
  font-size: 30px;
  color: #4e4e4e;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.informacoesFestival .gridInfo .onde p {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: #4e4e4e;
}

.informacoesFestival .gridInfo .quando {
  max-width: 250px;
}

.informacoesFestival .gridInfo .quando img {
  margin-bottom: 20px;
}

.informacoesFestival .gridInfo .quando h6 {
  font-size: 30px;
  color: #4e4e4e;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.informacoesFestival .gridInfo .quando p {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: #4e4e4e;
}

.informacoesFestival .gridInfo .artistas {
  max-width: 250px;
}

.informacoesFestival .gridInfo .artistas h4 {
  color: #4e4e4e;
  font-size: 50px;
  margin-bottom: 20px;
}

.informacoesFestival .gridInfo .artistas h6 {
  font-size: 30px;
  color: #4e4e4e;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.informacoesFestival .gridInfo .artistas p {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: #4e4e4e;
}
/*# sourceMappingURL=main.css.map */